---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$border-color:     #ccc;

$spacing-unit:     30px;

$text-color:       #111;
$zebra:            #f3f3f3;
$background-color: $zebra;
$brand-primary:    #004F94;
$navigation-color: #2F3B4D;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$header-height:    56px;
$toc-width:        300px;

$width-toc-visible:      600px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "gfm",
  "documentation",
  "highlight"
;
