---
layout: index
---

<div class="hero">
  <div class="hero-image"></div>
  <div class="hero-content">
    <h1 class="hero-title">{{site.title_full}}</h1>
    <p class="hero-description">{{site.description}}</p>
  </div>
</div>

<div class="search-full">
  {% include search.html %}
</div>

<div class="row">
  <div class="catalog">
    <p><strong>Handleidingen</strong> <small>Technische how-to's</small></p>
    <div class="books">
    {% for book in site.data.library | sort: 'weight'%}
      {% if book.category == "Technisch" %}
        {% include bookteaser.html %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="catalog">
    <p class="block-title"><strong>Gidsen</strong> <small>Achtergrondinformatie</small></p>
    <div class="books">
    {% for book in site.data.library | sort: 'weight'%}
      {% if book.category == "Functioneel" %}
        {% include bookteaser.html %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
