---
layout: index
---

<div class="hero">
  <div class="hero-content">
    <h1>UiT-documentatie voor ontwikkelaars</h1>
    <p class="hero-description">Hier vind je alle documentatie.</p>
  </div>
</div>

<div class="search-full">
  {% include search.html %}
</div>

<div class="catalog">
  <p>Gidsen</p>
  <div class="books">
  {% for book in site.data.library %}
  <div class="book">
  <div class="book-teaser">
  	<strong>{{ book.title }}</strong>
  	<p class="book-description">{{ book.description }}</p>
  	{% for version in book.versions limit:1  %}
  		<p><a href="/{{ version.path }}index.html" class="btn">Lezen</a></li></p>
  	{% endfor %}
  	{% if book.versions.size > 1 %}
  	<p>Oudere versies</p>
  	<ul>
  		{% for version in book.versions offset:1  %}
  			<li><a href="/{{ version.path }}index.html">{{ version.name }}</a></li>
  		{% endfor %}
  	</ul>
  	{% endif %}
  </div>
  </div>
  {% endfor %}
  </div>
</div>
