<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% assign filename = page.path | split: '/' | last %}
		{% assign folder = page.path | remove: filename %}
		{% for book in site.data.library %}
			{% for version in book.versions %}
				{% if folder contains version.path %}
					{% assign selected_book = book %}
					{% assign selected_version = version %}
				{% endif %}
			{% endfor %}
		{% endfor %}

		{% include header.html %}

		<div class="toc">

			<div class="toc-inner">

				<nav role="navigation">
				{% assign found = false %}
				{% include toc-item.html collection=selected_version.summary level=0 path=selected_version.path %}
				</nav>

			</div>

		</div>

		<div class="page">
			<div class="page-inner">

				<a class="menu">
					<div class="hamburger">
						 <span></span>
						 <span></span>
						 <span></span>
					</div>
				 Inhoud
				</a>

				<article>

					<section class="markdown-body">
					{{ content }}
					</section>

					{% include prev-next.html %}

					{% include footer.html %}

				<article>
			</div>
		</div>

		<div class="overlay"></div>

	</body>

</html>
